
@{
    ViewData["Title"] = "Start";
}
<title>Start Page</title>
<h2>Start</h2>
<form action="https://localhost:44324/pharmacy/pharmacyinfo">
    <input type="submit" value="Pharmacies" />
</form>
<form action="https://localhost:44324/pharmacy/providerinfo">
    <input type="submit" value="Providers" />
</form>
<form action="https://localhost:44324/pharmacy/merchinfo">
    <input type="submit" value="Merchandises" />
</form>
<a href="http://google.com" style="border:solid" class="button">Google</a>